<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Login Register | Notika - Notika Admin Template</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% include ./static_header %>
  </head>

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <!-- Login Register area Start-->
    <div class="login-content">
      <!-- Login -->
      <div class="nk-block toggled" id="l-login">
        <div class="nk-form">
          <div class="input-group">
            <span class="input-group-addon nk-ic-st-pro">
              <i class="notika-icon notika-support"></i>
            </span>
            <div class="nk-int-st">
              <input type="text" class="form-control" placeholder="Username" />
            </div>
          </div>
          <div class="input-group mg-t-15">
            <span class="input-group-addon nk-ic-st-pro">
              <i class="notika-icon notika-edit"></i>
            </span>
            <div class="nk-int-st">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
              />
            </div>
          </div>
          <div class="input-group mg-t-15">
            <span class="input-group-addon nk-ic-st-pro"> </span>
            <div class="nk-int-st">
              <input type="submit" class="form-control" value="Login" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Login Register area End-->
    <% include ./static_footer %>
  </body>
</html>
